@model IEnumerable<Rent.Models.Order>

@{
    ViewBag.Title = "OrderList";
    Layout = null;
}
<title>訂單</title>

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/sidebars")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/sidebars")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/popper")
@Scripts.Render("~/bundles/bootstrap")
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <style >
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    body {
        min-height: 100vh;
        
    }

    html {
        
    }

    main {
        display: flex;
        flex-wrap: nowrap;
        height: 100vh;
        
        max-height: 100vh;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .b-example-divider {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .bi {
        vertical-align: -.125em;
        pointer-events: none;
        fill: currentColor;
    }

    .dropdown-toggle {
        outline: 0;
    }

    .nav-flush .nav-link {
        border-radius: 0;
    }

    .btn-toggle {
        display: inline-flex;
        align-items: center;
        padding: .25rem .5rem;
        font-weight: 600;
        color: rgba(0, 0, 0, .65);
        background-color: transparent;
        border: 0;
    }


        .btn-toggle:focus {
            color: rgba(0, 0, 0, .85);
            background-color: #d2f4ea;
        }

        .btn-toggle::before {
            width: 1.25em;
            line-height: 0;
            content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
            transition: transform .35s ease;
            transform-origin: .5em 50%;
        }

        .btn-toggle[aria-expanded="true"] {
            color: rgba(0, 0, 0, .85);
        }

            .btn-toggle[aria-expanded="true"]::before {
                transform: rotate(90deg);
            }

    .btn-toggle-nav a {
        display: inline-flex;
        padding: .1875rem .5rem;
        margin-top: .125rem;
        margin-left: 1.25rem;
        text-decoration: none;
    }

        .btn-toggle-nav a:hover,
        .btn-toggle-nav a:focus {
            background-color: #d2f4ea;
        }

    .scrollarea {
        overflow-y: auto;
    }

    .fw-semibold {
        font-weight: 600;
    }

    .lh-tight {
        line-height: 1.25;
    }

    .btn.btn-primary {
        transition: background-color 0.3s ease;
    }

        .btn.btn-primary:hover {
            background-color: gray !important;
        }

    .nav-link {
        color: black;
        transition: color 0.3s ease;
    }

        .nav-link:hover {
            color: gray;
        }

    body {
        background-color: #F5F5F7; /* Set the background color to gray */
    }

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .btn-custom {
        background-color: #000000;
        border-color: #000000; /* 如果需要修改边框颜色 */
        color: white; /* 设置按钮文字颜色 */
    }

        .btn-custom:hover {
            background-color: #3c3c3c; /* 保持悬停时的颜色不变 */
            border-color: #000000; /* 如果需要修改边框颜色 */
            color: white; /* 设置按钮文字颜色 */
        }

    .btn-container {
        padding: 0;
    }

        .btn-container:nth-child(2) {
            margin-left: 10px; /* 設置按鈕之間的間距 */
        }

    .form-control:focus {
        background-color: white !important;
        border-color: black !important;
        border-width: 2px !important; /* 更改边框粗细为2像素 */
        box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0) !important; /* 更改阴影颜色为黑色 */
    }

    .navbar-brand {
        font-family: 'Uber Move'; /* 将字体更改为 Arial 或其他 sans-serif 字体 */
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0,0,0,0.3);
        transition: transform 0.2s, box-shadow 0.2s;
    }

    .card {
        transition: transform 0.2s, box-shadow 0.2s;
    }

    .dropdown-menu-custom {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        margin-top: 5px;
        z-index: 1000;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.4s ease, transform 0.4s ease, max-height 0.4s ease; /* Added max-height transition */
        max-height: 0; /* Initially set max-height to 0 */
        overflow: hidden; /* Hide overflow content */
        width: 200px; /* Increase the width of the dropdown menu */
    }

        .dropdown-menu-custom.show {
            display: block;
            opacity: 1;
            transform: translateY(0);
            max-height: 500px; /* Set to a value that is large enough to contain the dropdown items */
        }

    .dropdown-item-custom {
        padding: 5px 10px; /* Reduce padding for a more compact look */
        cursor: pointer;
        font-size: 0.875rem; /* Smaller font size */
        color: gray; /* Change text color to gray */
    }

        .dropdown-item-custom:hover {
            background-color: #f1f1f1;
            color: black; /* Change text color to black on hover */
        }
</style>
        <body>
            <header>
                <div class="collapse bg-dark" id="navbarHeader"></div>
                <div class="navbar navbar-dark" style="background-color: #000000;">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col">
                                <a href="/User/Front" class="navbar-brand">TRent</a>
                            </div>
                            <div class="col btn-container">
                                <a href="/User/Front" button class="btn btn-custom rounded-pill btn-sm px-2 py-2" type="button">首頁</a>
                            </div>
                            <div class="col btn-container">
                                <a href="/User/Index" button class="btn btn-custom rounded-pill btn-sm px-2 py-2" type="button">車款</a>
                            </div>
                            @if (Session["Member"] != null)
                            {
                                <div class="col btn-container">
                                    <a href="/Order/Create" button class="btn btn-custom rounded-pill btn-sm px-2 py-2" type="button">預約</a>
                                </div>
                            }
                            else
                            {
                                <div class="col btn-container">
                                    <a href="/Login/Login" button class="btn btn-custom rounded-pill btn-sm px-2 py-2" type="button">預約</a>
                                </div>
                            }
                        </div>
                        <div class="row align-items-center">
                            @if (Session["Member"] != null)
                            {
                                <div class="col btn-container">
                                    <button class="btn btn-custom rounded-pill text-white btn-sm px-2 py-2 ml-2" type="button" id="dropdownButton1">
                                        會員&nbsp
                                        <span id="arrowIcon1" class="fas fa-chevron-down"></span>
                                    </button>
                                    <div class="dropdown-menu-custom" id="dropdownMenu1">
                                        <div class="dropdown-item-custom" onclick="navigateToOrderndex()">訂單管理</div>
                                        <div class="dropdown-item-custom" onclick="navigateToOrderdex()">會員資料修改</div>
                                        <div class="dropdown-item-custom" onclick="navigateToOrderreate()">密碼修改</div>
                                        <div class="dropdown-item-custom" onclick="logout()">登出</div>
                                    </div>
                                </div>
                                <div class="col btn-container">
                                    <button class="btn btn-custom rounded-pill text-white btn-sm px-2 py-2 ml-2" type="button" id="dropdownButton2">
                                        門市&nbsp
                                        <span id="arrowIcon2" class="fas fa-chevron-down"></span>
                                    </button>
                                    <div class="dropdown-menu-custom" id="dropdownMenu2">
                                        <div class="dropdown-item-custom" onclick="navigateToOrderCreate()">取車地點</div>
                                        <div class="dropdown-item-custom" onclick="navigateToOrderIndex()">還車地點</div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col btn-container">
                                    <a href="/Login/Login" button class="btn btn-custom rounded-pill text-white btn-sm px-2 py-2 ml-2" type="button">登入</a>
                                </div>
                                <div class="col btn-container">
                                    <a href="/Login/Register" button class="btn btn-light rounded-pill btn-sm px-2 py-2 ml-2" type="button">註冊</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </header>

            <figure class="figure">
                <img src="~/Image/mem.jpg" class=" mw-100 figure-img img-fluid rounded " alt="...">

            </figure>

            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/User/OrderList">我的訂單</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/User/MEdit">修改個人資料</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/User/Edit">修改密碼</a>
                </li>

            </ul>
            <h1></h1>
            <h2 class="text-center">訂單紀錄</h2>
            <h1></h1>
            <div class="container-md">
                <div class="table-responsive">
                    <table class="table table-sm-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.orderID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.orderDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.returnDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Car.description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Member.name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RentLocation.rentLocation1)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ReturnLocation.returnLocation1)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.rentC)
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.orderID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.orderDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.returnDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Car.description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Member.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RentLocation.rentLocation1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReturnLocation.returnLocation1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.rentC)
                                </td>
                                <td>
                                    @if (item.payStat == true)
                                    {
                                        <span>已付款</span>
                                    }
                                    else if (item.orderDate >= DateTime.Now)
                                    {
                                        <a href="@Url.Action("Product", "User", new { orderId = item.orderID })" id="payButton" class="btn btn-primary" style="background-color: black; color: white; border: none;">付款</a>
                                    }
                                    else
                                    {
                                        <span>付款不可用</span>
                                    }

                                </td>
                                <td>
                                    @if (item.orderDate >= DateTime.Now)
                                    {
                                        @Html.ActionLink("取消訂單", "MDelete", new { id = item.orderID }, new { @id = "cancelButton_" + item.orderID, @class = "btn btn-primary cancel-button", @style = "background-color: black; color: white; border: none;", @onclick = "return confirm('確定要取消嗎')" })
                                    }
                                    else
                                    {
                                        <span>取消訂單不可用</span>
                                    }
                                </td>
                            </tr>
                        }

                    </table>
                    </div>
                </div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            var dropdownButton1 = document.getElementById('dropdownButton1');
                            var dropdownMenu1 = document.getElementById('dropdownMenu1');
                            var arrowIcon1 = document.getElementById('arrowIcon1');

                            dropdownButton1.addEventListener('click', function () {
                                if (dropdownMenu1.classList.contains('show')) {
                                    dropdownMenu1.classList.remove('show');
                                    arrowIcon1.classList.remove('fa-chevron-up');
                                    arrowIcon1.classList.add('fa-chevron-down');
                                } else {
                                    dropdownMenu1.classList.add('show');
                                    arrowIcon1.classList.remove('fa-chevron-down');
                                    arrowIcon1.classList.add('fa-chevron-up');
                                }
                            });

                            var dropdownButton2 = document.getElementById('dropdownButton2');
                            var dropdownMenu2 = document.getElementById('dropdownMenu2');
                            var arrowIcon2 = document.getElementById('arrowIcon2');

                            dropdownButton2.addEventListener('click', function () {
                                if (dropdownMenu2.classList.contains('show')) {
                                    dropdownMenu2.classList.remove('show');
                                    arrowIcon2.classList.remove('fa-chevron-up');
                                    arrowIcon2.classList.add('fa-chevron-down');
                                } else {
                                    dropdownMenu2.classList.add('show');
                                    arrowIcon2.classList.remove('fa-chevron-down');
                                    arrowIcon2.classList.add('fa-chevron-up');
                                }
                            });
                        });

                        function navigateToOrderCreate() {
                            window.location.href = "/Store/SIndex";
                        }

                        function navigateToOrderIndex() {
                            window.location.href = "/Store/TIndex";
                        }
                        function navigateToOrderreate() {
                            window.location.href = "/User/Edit";
                        }

                        function navigateToOrderndex() {
                            window.location.href = "/User/OrderList";
                        }
                        function navigateToOrderdex() {
                            window.location.href = "/User/MEdit";
                        }
                        document.getElementById('payButton').addEventListener('mouseover', function () {
                            this.style.backgroundColor = 'gray';
                        });
                        document.getElementById('payButton').addEventListener('mouseout', function () {
                            this.style.backgroundColor = 'black';
                        });
                        function logout() {
                            window.location.href = '/Login/Logout'; // Modify the URL according to your routing
                        }
                    </script>

        </body>