@model IEnumerable<Rent.Models.RentLocation>

@{
    ViewBag.Title = "租車地點";
}

<h2>租車地點</h2>

<p>
    @Html.ActionLink("建立地點", "BCreate")
</p>
@using (Html.BeginForm("BIndex", "Rentlocation", FormMethod.Get))
{
    <p>
        @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { placeholder = "Search" })
        <input type="submit" value="搜尋" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rentLocation1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rentAddress)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.rentLocation1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rentAddress)
            </td>
            <td>
                @Html.ActionLink("編輯", "BEdit", new { rentID = item.rentID }) |

                @Html.ActionLink("刪除", "BDelete", new { rentID = item.rentID }, new { onclick = "return confirm('確定要刪除嗎')" })
            </td>
        </tr>
    }

</table>
